.title-pgm {
    color: #E0DED2;
    text-align: center;
    font-family: 'Proxima Nova ExtraBold';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9px;
}

.subtitle-pgm {
    color: #E0DED2;
    font-family: 'Proxima Nova ExtraBold';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    gap: 1%;
    justify-content: center;
    padding-bottom: 5vw;
    white-space: nowrap;

}

.line-sub-pgm {
    width: 20%;
    height: 4px;
    background-color: #FE9900;
}


.body-timeline {
    background-color: #E0DED2;
    padding-bottom: 5vw;
    
}

.vertical-timeline::before {

    background: #1f212d;
    ;
}

.vertical-timeline-element-content {
    background-color: #9FC8D4;
    border: 3px solid #1f212d;
}

.vertical-timeline-element-content:hover {
    background-color: #1F212D;

    .vertical-timeline-element-title {
        color: #E0DED2;
    }


}
.vertical-timeline.vertical-timeline--two-columns{
    margin-top: 3%;
}
 .text-centered-agenda2{
    font-weight: 400!important;
    padding-top: 17vw;
    color: #e0ded2 !important;
}

.container01 {
   margin-top: -10vw;
   z-index: 1;
   

}

.container2 {
    background: url(./../../Assets/image6.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0% 6%;
    background-attachment: fixed;
    opacity: 0.9;
    z-index: 25;
    
 }
 

@media only screen and (max-width: 1170px) {
    .vertical-timeline-element-content:hover {
        background-color: #1F212D;

        .vertical-timeline-element-title {
            color: #E0DED2;
        }

        .vertical-timeline-element-date {
            color: #E0DED2;



        }

    }
}

 .text-centered-agenda2 {
    position: relative;
    text-align: center;
    color: #1f212d;
    font-size: 10vw;
    font-weight: 700;
}

.body-timeline {
    display: flex;
    flex-direction: column;

}
@media (max-width:734px) {
    .container2 .text-centered-agenda2 {
        font-weight: 400!important;
        padding-top: 22vw;
        color: #e0ded2 !important;
    }

    .container01 {
        z-index: 1;
        height: auto; /* Set height to auto to accommodate content */
        margin-top: -13vw;
    }

    .container2 {
        background: url(./../../Assets/image6.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0% -5%;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: 25;
    }
}





@media (max-width:700px){
    .body-timeline .title-pgm{
        font-size: 5vw;
        white-space: nowrap;
    }
    .body-timeline .subtitle-pgm {
        font-size: 17px;
        white-space: nowrap;

    }
    .body-timeline .line-sub-pgm{
        width: 15%;
        height: 3px;
    }

}
@media (max-width:600px){
    .body-timeline .title-pgm{
        font-size: 6vw;
    }
    .body-timeline .subtitle-pgm {
        margin-top: 12px;
        letter-spacing: 3px;

gap:2%;
    }
    .container2 .text-centered-agenda2 {
        font-weight: 400!important;
        padding-top: 30vw;
        color: #e0ded2 !important;
    }

    .container01 {
        z-index: 1;
        height: auto;
        margin-top: -14vw;
    }

    .container2 {
        background: url(./../../Assets/image6.jpg);
        background-repeat: no-repeat;
        background-size: 120% auto;
        background-position: 55% 0px;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: 25;
    }


}

@media (max-width:500px){
    .body-timeline .title-pgm{
        font-size: 5.5vw;
    }
    .body-timeline .subtitle-pgm {
        font-size: 3vw;
    }
    .body-timeline .line-sub-pgm {
        width: 15%;
        height: 2px;
    }

}

@media (max-width:450px){
    .body-timeline .title-pgm{
        font-size: 7vw;
        letter-spacing: 5px;
    }
    .body-timeline .subtitle-pgm {
        font-size: 3.5vw;
        letter-spacing: 3px;

    }
    .body-timeline .line-sub-pgm {
        width: 13%;
        height: 2px;
    }



}

@media (max-width:400px){
    .container2 .text-centered-agenda2 {
        font-weight: 400!important;
        padding-top: 38vw!important;
        color: #e0ded2 !important;
    }

    .container01 {
        z-index: 1;
        height: auto;
        margin-top: -18vw;
    }

    .container2 {
        background: url(./../../Assets/image6.jpg);
        background-repeat: no-repeat;
        background-size: 170% auto;
        background-position: 70% 0%;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: 25;
    }


}

@media (max-width:360px){
    .body-timeline .title-pgm{
        font-size: 7vw;
        letter-spacing: 4px;
    }
    .body-timeline .subtitle-pgm {
        font-size: 3.5vw;
        letter-spacing: 2px;

    }
    .body-timeline .line-sub-pgm {
        width: 15%;
        height: 1.5px;
    }

}
@media (max-width:300px){
    .container2 .text-centered-agenda2 {
        font-weight: 400!important;
        padding-top: 40vw;
        color: #e0ded2 !important;
    }

    .container01 {
        z-index: 1;
        height: auto;
        margin-top: -20vw;
    }

    .container2 {
        background: url(./../../Assets/image6.jpg);
        background-repeat: no-repeat;
        background-size: 190% auto;
        background-position: 70% 0%;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: 25;
    }


}