.footer_container {
    background-color: #1F212D;
    display: grid;
    grid-template-columns: 40% 20% 25%;
    align-items: center;
    font-family: Bahnschrift;
    overflow: hidden;
    gap: 5%;
    padding-left: 5%;
    padding-right: 5%;


}

.part11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogann {
    color: #9FC8D4;
    font-size: 40px;
    padding-bottom: 20%;
    font-family: 'Photograph Signature', sans-serif;
}

.footer-contact h3 {
    white-space: nowrap;
    overflow: visible;
}


.span a {
    text-decoration: none;
}

.span a:hover {
    text-decoration: underline;
    color: #9FC8D4;

}

.mail:hover {
    color: #9FC8D4;

}


.logo-img {
    width: 80%;
    height: auto;
    padding-top: 3%;

}

.footer-contact {
    text-align: center;
}



.footer_container .logo_div {
    display: flex;
    flex-direction: column;
}

.footer_container .logo_div {
    width: 70px;
    height: 30px;
    position: relative;
    top: 40px
}

.footer_container .logo_div .footer-logo {
    position: relative;
    top: -25px;
}

.footer_container .logo_div .footer-logo p {
    color: #F8F5E6;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bolder;


}

.footer_container .logo_div .footer-logo p span {
    color: #57C9EA;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bolder;
}

.para {
    color: #F8F5E6;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.lien h3 {
    color: #9FC8D4;
    letter-spacing: 1px;
    font-weight: lighter;

}

.lien {
    position: relative;
    top: 2px;
    height: 160px;

}

.lien .footer-ul {
    list-style: none;
}



.habillage {
    margin-left: -38px;
}

.footer-a {
    text-decoration: none;
    color: #E0DED2;
    margin-left: -38px;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;

}

.lien .footer-ul .footer-a:hover {
    color: #9FC8D4;
    transition: 0.3s ease-in-out;
}


.span span {
    display: flex;
    flex-direction: column;
    color: #E0DED2;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 5px;
    justify-content: center;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
}

.social {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social .footer-a {

    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #F8F5E6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0px;
    color: #050727;
}

.footer-email {
    padding-bottom: 5px;
    margin: 0px;
    border: none;


}

.part22 {
    margin-left: 20%;
}

.footer .copy {
    background-color: #1F212D;
    text-align: center;
    padding: 20px;
    position: relative;
    color: #9FC8D4;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2.4px;
}

.footer .copy::before {
    content: "";
    display: block;
    height: 3px;
    width: 90%;
    background-color: #E0DED2;
    position: absolute;
    top: 0;
    left: 5%;
}


















/* @media (max-width:1000px) {
    .lien {
        white-space: nowrap;
        overflow: visible;
    }

    .footer_container {
        display: grid;
        grid-template-columns: 35% 19% 20% 19%;
        align-items: center;
        overflow: hidden;
        gap: 2%;
        padding-right: 3%;
    }

    .logo-img {
        width: 70%;
    }

} */

@media (max-width:950px) {
    .lien {
        white-space: nowrap;
        overflow: visible;
    }

    .footer_container {
        gap: 3%;

    } 

    .logo-img {
        width: 100%;
    }

} 

@media (max-width:850px) {
    .footer_container {
        padding-top: 10px;
    }

    .logo-img {
        width: 100%;
    }

    .lien h3 {
        font-size: 1em;
    }

    .footer-a {
        font-size: 11px;

    }

    .footer-span {
        font-size: 17px;

    }

    .icones {
        width: 20px;
    }

    .social .footer-a {

        height: 30px;
        width: 30px;
        border-radius: 100%;
        background-color: #F8F5E6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 10px 10px 10px 0px;
        color: #050727;
    }

}



@media (max-width:780px) {
    .footer_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 2%;
        padding-right: 0%;
        padding-left: initial;
    }

    .logo-img {
        width: 60%;
    }

    div.para {
        display: flex;
        flex-direction: row;
        gap: 2%;
        width: 20%;
        justify-content: center;
    }
    .slogann{
        padding-bottom: inherit;
    }


    .part11 {
        gap: 10px;
    }



    .part3,
    .part22 h3 {
        display: none;
    }

    .part22 {
        width: 100%;
        height: 30px;
        white-space: nowrap;
        overflow: visible;
    }

    .part22 ul {
        display: flex;
        flex-direction: row;
        gap: 3%;

    }

    .footer ul .footer-a {
        margin-left: 0;
        margin-top: 0;
        font-size: 2.7vw;
        letter-spacing: 1px;
        font-weight: lighter;
        color: #f8f5e6;
        padding: 0 0 8px;
 
    }

    .footer ul .footer-a:hover {
        background-image: linear-gradient(to bottom, #57C9EA 60%, transparent 50%);
    }



    span.footer-span {
        font-size: 2.2vw;

    }

    .icones {
        width: 4.7vw;
        height: 4.7vw;
    }

    .social .footer-a {

        height: 50px;
        width: 50px;
        border-radius: 100%;
        background-color: #F8F5E6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 10px 10px 10px 0px;
        color: #050727;
    }

    .footer-contact {
        margin-top: 10px;
        width: 100%;
        height: 30%;
        padding-left: 10px;
        padding-bottom: 10px;

    }

    .footer-contact h3 {
        font-size: 3.8vw;
        margin-block-start: 1em;
        margin-block-end: 0.3em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

    }

    .icones {
        width: 100%;
    }

    .backToTop {
        font-size: 2vw;

    }

    .footer .copy {
        font-size: 2.2vw;

    }

}


@media (max-width:470px) {



    div.para {
        display: flex;
        flex-direction: row;
        gap: 2%;
        justify-content: center;
    }
    .slogann{
        font-size: x-large;
    }

    .part11 {
        gap: 10px;
    }

    .footer ul{
        margin:inherit;
        padding: inherit;
        margin-left: 7%;
    }

    .part3,
    .part22 h3 {
        display: none;
    }

    .part22 {
        width: 100%;
        height: 30px;
        white-space: nowrap;
        overflow: visible;
        margin: initial;
        padding: initial;
    }

    .part22 ul {
        display: flex;
        flex-direction: row;
        gap: 3%;

    }
    .slogann{
        padding-bottom: 25%;
    }

    .footer ul .footer-a {
        margin-left: 0;
        margin-top: 0;
        font-size: 3.75vw;
        letter-spacing: 1px;
        font-weight: lighter;
        color: #f8f5e6;
        padding: 0 0 10px;
        

    }





    span.footer-span {
        font-size: 3vw;

    }

    .icones {
        width: 4.7vw;
        height: 4.7vw;
    }

    .social .footer-a {

        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: #F8F5E6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 10px 10px 0px;
        color: #050727;
    }

    .footer-contact {
        margin-top: 10px;
        width: 100%;
    }

    .footer-contact h3 {
        font-size: 6vw;
        margin-block-start: 1.5em;
        margin-block-end: 0.3em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-top: initial;
        margin-top: 5%;
    }


    .icones {
        width: 70%;
        height: 75%;
    }

    .footer .copy {
        font-size: 2.8vw;

    }

}

@media (max-width:400px) {


    .part11 {
        gap: 10px;
    }



    .part3,
    .part22 h3 {
        display: none;
    }

    .part22 {
        width: 100%;
        height: 30px;
        white-space: nowrap;
        overflow: visible;
    }




    .icones {
        width: 4.7vw;
        height: 4.7vw;
    }

    .social .footer-a {

        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: #F8F5E6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 10px 10px 10px 0px;
        color: #050727;
    }

    .footer-contact {
        margin-top: 10px;
        width: 100%;
    }


    .icones {
        width: 70%;
        height: 75%;
    }


    .footer .copy {
        font-size: 2.8vw;

    }

}

@media (max-width:350px) {

    .logo-img {
        width: 80%;
    }






    span.footer-span {
        font-size: 4vw;

    }

    .icones {
        width: 8vw;
        height: 8vw;
    }

    .social .footer-a {

        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: #F8F5E6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 10px 10px 10px 0px;
        color: #050727;
    }

    .footer-contact {
        margin-top: 10px;
        width: 100%;
    }


    .icones {
        width: 80%;
        height: 75%;
    }


}


@media (max-width:300px) {

    .logo-img {
        width: 80%;
    }

    .footer ul{
        margin-left: 4%;
    }

    .icones {
        width: 8vw;
        height: 8vw;
    }

    .social .footer-a {

        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: #F8F5E6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 10px 10px 10px 0px;
        color: #050727;
    }

    .footer-contact {
        margin-top: 10px;
        width: 100%;
    }


    .icones {
        width: 70%;
        height: 75%;
    }

}